.property-page {
    max-width: 1100px;
    margin: auto;
    padding: 2rem;
    font-size: 1.1rem;
  }
  
  .price {
    font-size: 1.6rem;
    color: #2563eb;
  }
  
  .hero-img {
    border-radius: 16px;
    margin-bottom: 1.5rem;
  }
  
  .tabs {
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .tabs button {
    flex: 1;
    padding: 0.7rem;
    border-radius: 8px;
    border: none;
    background: #e5e7eb;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .tabs button.active {
    background: #2563eb;
    color: white;
  }
  
  .tab-content {
    background: white;
    padding: 1.5rem;
    border-radius: 14px;
  }

  .property-page {
    max-width: 1100px;
    margin: auto;
    padding: 2rem;
  }
  
  .back-btn {
    display: inline-block;
    margin-bottom: 1rem;
    background: #113ea1;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
  }
  
  .property-title {
    text-align: center;
    margin-bottom: 2rem;
    color:#09245b;
  }
  
  /* gallery */
  .gallery {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1.5rem;
  }
  
  .main-img {
    width: 100%;
    border-radius: 14px;
  }
  
  .thumbs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
  }
  
  .thumbs img {
    width: 100%;
    border-radius: 10px;
  }
  
  /* details box */
  .details-box div {
    display: flex;
    justify-content: space-between;
    background: #c6d4f5;
    padding: 0.7rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color:#113ea1;
  }
  
  /* tabs */
  .tabs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
  }
  
  .tabs button {
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    border: none;
    background: #c6d4f5;
    color:#113ea1;
  }
  
  .tabs .active {
    background: #2563eb;
    color: white;
  }
  
  .floor-plan {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: block;
  }

  .fav-btn {
    background: none;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    color: #9ca3af; 
    transition: transform 0.2s, color 0.2s;
  }
  
  .fav-btn:hover {
    transform: scale(1.2);
  }
  
  .fav-btn.active {
    color: #2563eb; /* BLUE */
  }
  
  .remove-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    color: #ef5d5d; /* red icon */
    
  }
  
  
  
  