@import "./styles/base.css";
@import "./styles/layout.css";
@import "./styles/navbar.css";
@import "./styles/home.css";
@import "./styles/search.css";
@import "./styles/property.css";
@import "./styles/agents.css";
@import "./styles/contact.css";
@import "./styles/footer.css";
